@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;


}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: rgba(223, 223, 223, 0.732);
}
#game{
    width: 500px;
    height: 200px;
    /* border: 3px solid rgb(0, 0, 0); */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 10px rgba(85, 85, 85, 0.29);
    background: #fff;
}
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
    z-index: 1;
    box-shadow: -5px 3px 5px 0px black;
}
.animate{
    animation: jump .3s linear ;
}

@keyframes jump{
    0%{top:110px;}
    50%{top:100px;}
    70%{top:100px;}
    100%{top:110px;}
}
#block{
    width: 20px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 130px;
    left: 500px;
    border-radius: 50%;
    animation: block 1.5s infinite linear;
}

@keyframes block{
    0%{left:500px;}
    100%{left:-20px;}
}

p{
    margin-top: 15px;
    text-align: center;
    
}
h1{
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 3%;
    font-size: 2rem;
    font-weight: 900;
    text-shadow:  0px 3px 3px rgba(75, 71, 71, 0.65);
}
@media(max-width:900px) {
    #game{
    width: 90%;
    height: 200px;
    /* border: 3px solid rgb(0, 0, 0); */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px 5px rgba(85, 85, 85, 0.29);
    background: #fff;
    }
    h1{
        font-size: 1rem;
    font-weight: 900;

    }
}